<table *ngIf="!loading && participantes.length > 0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Centro</th>
      <th>Especialidad</th>
      <th>Acciones</th> <!-- Columna de acciones -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participante of participantes">
      <td>{{ participante.nombre }}</td>
      <td>{{ participante.apellidos }}</td>
      <td>{{ participante.centro }}</td>
      <td>{{ participante.especialidadid }}</td>
      <td>
        <!-- Botón de editar, que redirige a la vista de edición -->
        <button [routerLink]="['/participante/editar', participante.id]" class="btn-edit">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
