<div class="container">
  <h2>Evaluar Prueba</h2>
  <h3>{{ enunciado }}</h3>

  <form>
    <div *ngFor="let item of items; let i = index" class="form-group">
      <label>{{ item.descripcion }}</label>
      
      <div class="mt-2">
        <strong>Peso:</strong> {{ item.peso }} <br />
        <strong>Grado de Consecución:</strong> {{ item.gradosConsecucion }} 
      </div>

      <input type="number" class="form-control" [(ngModel)]="evaluaciones[i].valoracion" name="valoracion{{i}}" min="0" max="10" required [ngModelOptions]="{standalone: true}" />

      <textarea class="form-control mt-2" [(ngModel)]="evaluaciones[i].explicacion" name="explicacion{{i}}" placeholder="Explicación" [ngModelOptions]="{standalone: true}"></textarea>
    </div>

    <button type="button" class="btn btn-primary mt-3" (click)="enviarEvaluacion()">Enviar Evaluación</button>
  </form>
</div>
