<div class="container"> 
  <h2>Lista de Pruebas</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Puntuación Máxima</th>
        <th>Especialidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prueba of pruebasPaginadas">
        <td>{{ prueba.idPrueba }}</td>
        <td>{{ prueba.nombre }}</td>
        <td>{{ prueba.puntuacionMaxima }}</td>
        <td>{{ prueba.especialidadId }} - {{ prueba.especialidad?.nombre || 'No disponible' }}</td>
        <td>
          <button class="btn btn-primary" (click)="selectPrueba(prueba)">Evaluar Participante</button>
          <button class="btn btn-warning ml-2" [routerLink]="['/experto/editar-prueba', prueba.idPrueba]">Editar</button>
          <button class="btn btn-primary" [routerLink]="['/experto/evaluar-prueba', prueba.idPrueba]">Evaluar Prueba</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <button class="btn btn-secondary" (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">Anterior</button>
    <span>Página {{ paginaActual }}</span>
    <button class="btn btn-secondary" (click)="cambiarPagina(1)" [disabled]="paginaActual * pruebasPorPagina >= pruebas.length">Siguiente</button>
  </div>

  <div *ngIf="selectedPrueba && participantes.length > 0" class="mt-4">
    <h3>Participantes para la prueba: {{ selectedPrueba.nombre }}</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let participante of participantes">
        Participante ID: {{ participante.idParticipante }} - Nombre: {{ participante.nombre }}
        <button class="btn btn-success ml-2" (click)="evaluarParticipante(participante)">Evaluar Participante</button>
      </li>
    </ul>
  </div>

  <button class="btn btn-success mb-3" (click)="router.navigate(['/experto/crear-prueba'])">Crear prueba</button>
</div>
