<h2>Editar Participante</h2>
<form (ngSubmit)="actualizarParticipante()">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" [(ngModel)]="participante.nombre" name="nombre" required />
  </div>
  <div>
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" [(ngModel)]="participante.apellidos" name="apellidos" required />
  </div>
  <div>
    <label for="centro">Centro</label>
    <input type="text" id="centro" [(ngModel)]="participante.centro" name="centro" required />
  </div>
  <div>
    <label for="especialidad">Especialidad</label>
    <input type="number" id="especialidad" [(ngModel)]="participante.especialidadId" name="especialidadId" readonly />
  </div>
  <button type="submit">Actualizar Participante</button>
</form>
