<div class="container">
  <h2>Realizar Evaluación</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="notaFinal">Nota Final</label>
      <input
        type="number"
        id="notaFinal"
        class="form-control"
        [(ngModel)]="evaluacion.notaFinal"
        name="notaFinal"
        required
        step="0.1"
        placeholder="0"
        [disabled]="true"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar Evaluación</button>
  </form>
</div>
