<div class="user-list-container">
    <h2>Lista de Expertos</h2>
  
    <button class="btn btn-success" (click)="irACrearExperto()">Crear Experto</button>
  
    <div *ngIf="users.length === 0" class="no-users">
      <p>No se encontraron expertos.</p>
    </div>
  
    <table *ngIf="users.length > 0" class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.idUser }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellidos }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarUsuario(user.idUser)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  